<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shift cipher</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Cifrari</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<form name = "shift" action="#" th:action="@{/resultShift}" th:object="${cifrario}"
			method="post">
			<h2 th:text="'Hai scelto il cifrario: ' + ${cifrario.cipher}"></h2>
			<fieldset>
				<p>
				Inserisci il messaggio: <input name = "plaintext" type="text" required="required" th:field="*{plaintext}" />
				</p>
				<p>
				Inserisci di quante posizioni vuoi shiftare: <input name = "key" type="number" required="required" th:field="*{key}" />
				</p>
				<p>
					<input type="radio" name="action" checked="checked" value="cifrare" th:field="*{action}" /> cifrare
					<input type="radio" name="action" value="decifrare" th:field="*{action}" />
					decifrare
				</p>
				<p>
					<input type="submit" value="Submit" /> <input type="reset"
						value="Reset" />
				</p>
			</fieldset>
		</form>
	</div>

</body>
</html>